{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-grey-5 u-block-787e-1" custom-posts-hash="[I,T]" style="background-image: none"
         data-post-id="1414491636"
         data-section-properties="{&quot;grid-spacing&quot;:&quot;10&quot;,&quot;spacingAdditional&quot;:&quot;none&quot;,&quot;align&quot;:&quot;center&quot;,&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}"
         data-id="787e"
         data-state="{&quot;min-height&quot;:{&quot;XL&quot;:false,&quot;LG&quot;:true,&quot;MD&quot;:true,&quot;SM&quot;:true,&quot;XS&quot;:true}}"
         data-posts-content="[{'images':[[575,431]],'maps':[],'videos':[],'icons':[],'textWidth':565,'textHeight':421,'id':1,'headingProp':'h2','textProp':'text'}]"
         data-style="split-1-image-right-fix" id="sec-19d0" data-source="Sketch">
    <div class="u-clearfix u-sheet u-block-787e-2" style="min-height: 541px">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-block-787e-3"
             style="margin-top: 60px; margin-right: auto; margin-bottom: 60px; margin-left: 0px" data-layout-wrap-id="1"
             data-block="13" data-block-type="Layout">
            <div class="u-layout" style="">
                <div class="u-layout-row" style="">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-xs-60 ui-draggable ui-droppable u-size-24 u-block-787e-8"
                         data-brightness="" style="min-height: 431px" src="" data-cell-id="1" data-column-id="1"
                         data-block="14" data-block-type="Cell">
                        <div class="u-container-layout u-block-787e-9"
                             style="padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px"
                             data-container-layout-dom="1">
                            <h2 class="u-align-center u-text u-text-default u-block-787e-10"
                                style="margin: 63.4px auto 0px;" data-block="15" data-block-type="Text">Flight Nr. {{
                                flight.id }}</h2>
                            <p class="u-align-center u-text u-block-787e-11" style="margin: 34px 0px 0px;"
                               data-block="16" data-block-type="Text">{{flight.depAirport.town}}&nbsp;&nbsp;<br><span
                                    class="u-icon u-block-787e-13" data-block-type="Icon" data-block="19"
                                    style="color: rgb(17, 17, 17) !important"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 32 32" data-color="rgb(17, 17, 17)" style="width: 1em; height: 1em;"><g data-name="Layer 2" id="Layer_2"><path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"></path></g></svg><img></span>​
                                {{flight.arrAirport.town}}<br><br>{{ flight.depTime.strftime('%d.%m.%Y %H:%M') }}<br>{{flight.plane.seats}}
                                available seats
                            </p>

                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-xs-60 ui-draggable ui-droppable u-size-36 u-block-787e-4"
                         style="min-height: 431px; background-image: url(&quot;https://pixabay.com/get/gc9cf7c1b1841640ae6758152764f5103a02b6fa83ad99f470f06d184bb84cc99222f852a0aea32b9eebf1fc109424fac86afb5e25b7f009b221c7bf3b17a1feb_1280.jpg&quot;); background-position: 50% 50%"
                         src="" data-brightness="" data-image-width="150" data-image-height="100" data-cell-id="2"
                         data-column-id="2" data-block="18" data-block-type="Cell,BackgroundImage">
                        <div class="u-container-layout u-valign-middle u-block-787e-5" src=""
                             style="padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px"
                             data-container-layout-dom="2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style data-mode="XL">@media (max-width: 0px) { .u-block-787e-1 {background-image: none}
.u-block-787e-2 {min-height: 541px}
.u-block-787e-3 {margin-top: 60px; margin-right: auto; margin-bottom: 60px; margin-left: 0px}
.u-block-787e-8 {min-height: 431px}
.u-block-787e-9 {padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px}
.u-block-787e-10 {margin-top: 63.4px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-787e-11 {margin-top: 34px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-787e-13 {color: rgb(17, 17, 17) !important}
.u-block-787e-4 {min-height: 431px; background-image: url("https://pixabay.com/get/gc9cf7c1b1841640ae6758152764f5103a02b6fa83ad99f470f06d184bb84cc99222f852a0aea32b9eebf1fc109424fac86afb5e25b7f009b221c7bf3b17a1feb_1280.jpg"); background-position: 50% 50%}
.u-block-787e-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px} }
    </style>
    <style data-mode="LG">@media (max-width: 0px) { .u-block-787e-1 {background-image: none}
.u-block-787e-2 {min-height: 100px}
.u-block-787e-3 {margin-top: 60px; margin-bottom: 60px}
.u-block-787e-8 {min-height: 355px}
.u-block-787e-9 {padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px}
.u-block-787e-10 {margin-top: 63.4px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-787e-11 {margin-top: 34px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-787e-13 {color: rgb(17, 17, 17) !important}
.u-block-787e-4 {min-height: 355px; background-image: url("https://pixabay.com/get/gc9cf7c1b1841640ae6758152764f5103a02b6fa83ad99f470f06d184bb84cc99222f852a0aea32b9eebf1fc109424fac86afb5e25b7f009b221c7bf3b17a1feb_1280.jpg"); background-position: 50% 50%}
.u-block-787e-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 60px; padding-right: 60px} }
    </style>
    <style data-mode="MD">@media (max-width: 0px) { .u-block-787e-1 {background-image: none}
.u-block-787e-2 {min-height: 100px}
.u-block-787e-3 {margin-top: 60px; margin-bottom: 60px}
.u-block-787e-8 {min-height: 100px}
.u-block-787e-9 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-787e-10 {margin-top: 63.4px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-787e-11 {margin-top: 34px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-787e-13 {color: rgb(17, 17, 17) !important}
.u-block-787e-4 {min-height: 272px; background-image: url("https://pixabay.com/get/gc9cf7c1b1841640ae6758152764f5103a02b6fa83ad99f470f06d184bb84cc99222f852a0aea32b9eebf1fc109424fac86afb5e25b7f009b221c7bf3b17a1feb_1280.jpg"); background-position: 50% 50%}
.u-block-787e-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px} }
    </style>
    <style data-mode="SM">@media (max-width: 0px) { .u-block-787e-1 {background-image: none}
.u-block-787e-2 {min-height: 100px}
.u-block-787e-3 {margin-top: 60px; margin-bottom: 60px}
.u-block-787e-8 {min-height: 100px}
.u-block-787e-9 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-787e-10 {margin-top: 63.4px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-787e-11 {margin-top: 34px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-787e-13 {color: rgb(17, 17, 17) !important}
.u-block-787e-4 {min-height: 408px; background-image: url("https://pixabay.com/get/gc9cf7c1b1841640ae6758152764f5103a02b6fa83ad99f470f06d184bb84cc99222f852a0aea32b9eebf1fc109424fac86afb5e25b7f009b221c7bf3b17a1feb_1280.jpg"); background-position: 50% 50%}
.u-block-787e-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px} }
    </style>
    <style data-mode="XS">@media (max-width: 0px) { .u-block-787e-1 {background-image: none}
.u-block-787e-2 {min-height: 100px}
.u-block-787e-3 {margin-top: 60px; margin-bottom: 60px}
.u-block-787e-8 {min-height: 100px}
.u-block-787e-9 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-787e-10 {margin-top: 63.4px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-787e-11 {margin-top: 34px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-787e-13 {color: rgb(17, 17, 17) !important}
.u-block-787e-4 {min-height: 257px; background-image: url("https://pixabay.com/get/gc9cf7c1b1841640ae6758152764f5103a02b6fa83ad99f470f06d184bb84cc99222f852a0aea32b9eebf1fc109424fac86afb5e25b7f009b221c7bf3b17a1feb_1280.jpg"); background-position: 50% 50%}
.u-block-787e-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px} }
    </style>
</section>
<section class="u-clearfix u-block-5158-1" custom-posts-hash="[]" data-style="blank"
         data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-bfd1"
         data-source="Blank" data-id="5158" style="">
    <div class="u-clearfix u-sheet u-valign-middle u-block-5158-2" style="min-height: 442px">
        <div class="u-layout-wrap u-clearfix u-expanded-width u-block-5158-3" data-layout-wrap-id="3" data-block="60"
             style="margin-top: 60px; margin-bottom: 58px" data-block-type="Layout">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20 u-layout-cell u-container-style u-align-center u-block-5158-4"
                         data-cell-id="6" data-column-id="6" data-block="61" style="min-height: 320px"
                         data-block-type="Cell">
                        <div class="u-container-layout u-block-5158-5" data-container-layout-dom="9"
                             style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px"
                             data-block-type="">
                            <span class="u-icon u-icon-circle u-block-5158-6" data-block="64"
                                  style="width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto"
                                  data-block-type="Icon"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                              viewBox="0 0 640 512" style=""><use
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a1b2"></use></svg><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 640 512"
                                    id="svg-a1b2" data-color="#000000"><path d="M624 448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h608c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM80.55 341.27c6.28 6.84 15.1 10.72 24.33 10.71l130.54-.18a65.62 65.62 0 0 0 29.64-7.12l290.96-147.65c26.74-13.57 50.71-32.94 67.02-58.31 18.31-28.48 20.3-49.09 13.07-63.65-7.21-14.57-24.74-25.27-58.25-27.45-29.85-1.94-59.54 5.92-86.28 19.48l-98.51 49.99-218.7-82.06a17.799 17.799 0 0 0-18-1.11L90.62 67.29c-10.67 5.41-13.25 19.65-5.17 28.53l156.22 98.1-103.21 52.38-72.35-36.47a17.804 17.804 0 0 0-16.07.02L9.91 230.22c-10.44 5.3-13.19 19.12-5.57 28.08l76.21 82.97z"></path></svg></span>
                            <h3 class="u-text u-text-default u-block-5158-12" data-block="67"
                                style="margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px"
                                data-block-type="Text">{{flight.depAirport.name}}</h3>
                            <p class="u-text u-text-default u-block-5158-13" data-block="68"
                               style="margin-left: auto; margin-right: auto; margin-bottom: 0px" data-block-type="Text">
                                ({{flight.depAirport.iata}})<br>{{flight.depAirport.town}},
                                {{flight.depAirport.country}}</p><h4 class="u-text u-text-default u-block-5158-15"
                                                                     data-block="71"
                                                                     style="margin-left: auto; margin-right: auto; margin-bottom: 0px"
                                                                     data-block-type="Text">
                            {{flight.depTime.strftime('%d.%m.%Y %H:%M')}}</h4></div>
                    </div>
                    <div class="u-size-20 u-layout-cell u-container-style u-align-center u-block-5158-7"
                         data-cell-id="7" data-column-id="7" data-block="62" style="min-height: 320px"
                         data-block-type="Cell">
                        <div class="u-container-layout u-block-5158-8" data-container-layout-dom="10"
                             style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px"
                             data-block-type="">
                            <span class="u-icon u-icon-circle u-block-5158-9" data-block="65"
                                  style="width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto"
                                  data-block-type="Icon"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                              viewBox="0 0 640 512" style=""><use
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ec4f"></use></svg><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 640 512"
                                    id="svg-ec4f" data-color="#000000"><path d="M624 448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h608c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM44.81 205.66l88.74 80a62.607 62.607 0 0 0 25.47 13.93l287.6 78.35c26.48 7.21 54.56 8.72 81 1.36 29.67-8.27 43.44-21.21 47.25-35.71 3.83-14.5-1.73-32.71-23.37-54.96-19.28-19.82-44.35-32.79-70.83-40l-97.51-26.56L282.8 30.22c-1.51-5.81-5.95-10.35-11.66-11.91L206.05.58c-10.56-2.88-20.9 5.32-20.71 16.44l47.92 164.21-102.2-27.84-27.59-67.88c-1.93-4.89-6.01-8.57-11.02-9.93L52.72 64.75c-10.34-2.82-20.53 5-20.72 15.88l.23 101.78c.19 8.91 6.03 17.34 12.58 23.25z"></path></svg></span>
                            <h3 class="u-text u-text-default u-block-5158-14" data-block="66"
                                style="margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px"
                                data-block-type="Text">{{flight.arrAirport.name}}</h3>
                            <p class="u-text u-text-default u-block-5158-16"
                               style="text-align: center; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0px"
                               data-block="70" data-block-type="Text">({{flight.arrAirport.iata}})<br>{{flight.arrAirport.town}},
                                {{flight.arrAirport.country}}</p><h4 class="u-text u-text-default u-block-5158-17"
                                                                     data-block="72"
                                                                     style="margin-left: auto; margin-right: auto; margin-bottom: 0px"
                                                                     data-block-type="Text">
                            {{flight.arrTime.strftime('%d.%m.%Y %H:%M')}}</h4></div>
                    </div>
                    <div class="u-size-20 u-layout-cell u-container-style u-block-5158-10" data-cell-id="8"
                         data-column-id="8" data-block="63" style="min-height: 320px" data-block-type="Cell">
                        <div class="u-container-layout u-block-5158-11" data-container-layout-dom="11"
                             style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px"
                             data-block-type="">
                            <h3 class="u-text u-align-center u-block-5158-18" data-block="73"
                                style="margin: 53.25px 0.4px 0px;" data-block-type="Text"><span
                                    style="font-weight: 700;">{{flight.plane.seats}}</span> seats left.<br>Get your
                                ticket now!</h3>
                            <form method="post">
                                <button class="u-btn u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-round u-block-5158-19"
                                        data-block="82"
                                        style="border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 35px auto 0px; padding: 21px 54.0668px 21.6827px 53px;"
                                        data-block-type="Button" name="book">Book Now
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style data-mode="XL">@media (max-width: 0px) { .u-block-5158-2 {min-height: 442px}
.u-block-5158-3 {margin-top: 60px; margin-bottom: 58px}
.u-block-5158-4 {min-height: 320px}
.u-block-5158-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-6 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-12 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-13 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-15 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-7 {min-height: 320px}
.u-block-5158-8 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-9 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-14 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-16 {text-align: center; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-17 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-10 {min-height: 320px}
.u-block-5158-11 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-18 {margin-top: 53.25px; margin-left: 0.4px; margin-right: 0.4px; margin-bottom: 0px}
.u-block-5158-19 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-top: 35px; margin-left: auto; margin-right: auto; margin-bottom: 0px; padding-top: 21px; padding-right: 54.0668px; padding-bottom: 21.6827px; padding-left: 53px} }
    </style>
    <style data-mode="LG">@media (max-width: 0px) { .u-block-5158-2 {min-height: 372px}
.u-block-5158-3 {margin-top: 60px; margin-bottom: 58px; position: relative}
.u-block-5158-4 {min-height: 264px}
.u-block-5158-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-6 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-12 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-13 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-15 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-7 {min-height: 264px}
.u-block-5158-8 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-9 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-14 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-16 {text-align: center; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-17 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-10 {min-height: 264px}
.u-block-5158-11 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-18 {margin-top: 53.25px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5158-19 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-top: 35px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 21px; padding-right: 54.0668px; padding-bottom: 21.6827px; padding-left: 53px} }
    </style>
    <style data-mode="MD">@media (max-width: 0px) { .u-block-5158-2 {min-height: 295px}
.u-block-5158-3 {margin-top: 60px; margin-bottom: 58px; position: relative}
.u-block-5158-4 {min-height: 100px}
.u-block-5158-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-6 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-12 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-13 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-15 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-7 {min-height: 100px}
.u-block-5158-8 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-9 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-14 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-16 {text-align: center; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-17 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-10 {min-height: 100px}
.u-block-5158-11 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-5158-18 {margin-top: 53.25px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5158-19 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-top: 35px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 21px; padding-right: 54.0668px; padding-bottom: 21.6827px; padding-left: 53px} }
    </style>
    <style data-mode="SM">@media (max-width: 0px) { .u-block-5158-2 {min-height: 1238px}
.u-block-5158-3 {margin-top: 60px; margin-bottom: 58px; position: relative}
.u-block-5158-4 {min-height: 100px}
.u-block-5158-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5158-6 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-12 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-13 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-15 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-7 {min-height: 100px}
.u-block-5158-8 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5158-9 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-14 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-16 {text-align: center; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-17 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-10 {min-height: 100px}
.u-block-5158-11 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5158-18 {margin-top: 53.25px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5158-19 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-top: 35px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 21px; padding-right: 54.0668px; padding-bottom: 21.6827px; padding-left: 53px} }
    </style>
    <style data-mode="XS">@media (max-width: 0px) { .u-block-5158-2 {min-height: 816px}
.u-block-5158-3 {margin-top: 60px; margin-bottom: 58px; position: relative}
.u-block-5158-4 {min-height: 100px}
.u-block-5158-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5158-6 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-12 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-13 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-15 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-7 {min-height: 100px}
.u-block-5158-8 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5158-9 {width: 64px; height: 51.2px; color: rgb(0, 0, 0) !important; margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto}
.u-block-5158-14 {margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-16 {text-align: center; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-17 {margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-5158-10 {min-height: 100px}
.u-block-5158-11 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-5158-18 {margin-top: 53.25px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px}
.u-block-5158-19 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-top: 35px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 21px; padding-right: 54.0668px; padding-bottom: 21.6827px; padding-left: 53px} }
    </style>
</section>
{% endblock %}
