{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Available Flights
</h1>
<table id="data" class="table table-striped" width="1000" style="margin-left:auto;margin-right:auto">
    <thead>
      <tr>
        <th>Flight Nr.</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Seats</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
        <tr>
          <td>{{ flight.id }}</td>
          <td>{{ flight.depAirport.name }} {{ flight.depTime }}</td>
          <td>{{ flight.arrAirport.name }} {{ flight.arrTime }}</td>
          <td>{{ flight.plane.seats }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}